@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    height: 100vh;

    margin: 0;

    font-family: 'Montserrat', sans-serif;

    background-color: #222831;
    background: linear-gradient(45deg, #FD7014 0%, #222831 45%, #222831 55%, #5f85da 100%);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #5f85da;
}
::-webkit-scrollbar-thumb {
    background-color: #FE9352;
    border-radius: 16px;
}

header h2 {
    text-align: center;
    color: #fff;
}

/* INDEX - MAIN PAGE */
.main-container {
    display: flex;
    justify-content: space-around;
}
.cards-titles {
    width: 250px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #5f85da;
    border-radius: 12px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
.film-content {
    width: 50vw;
    aspect-ratio: 16/9;
    background-color: #2F3745;
    border: 1px solid #FE9352;
    border-radius: 12px;
    padding: 0.4em;

    box-shadow: -7px 6px 13px 3px rgb(0 0 0 / 40%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.film-content iframe {
    border-radius: 9px;
    width: 100%;
    height: 100%;
}
.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-group a {
    color: #FD7014;
    text-decoration: underline;

    font-weight: 600;
}
.btn-prev-next{
    background-color: #eee;
    color: #222831;
    border: none;
    border-radius: 5px;

    padding: .8em 1em .8em 1em;

    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
.btn-prev-next:hover{
    background-color: #b3b3b3;
}
.btn-prev-next:focus {
    box-shadow: none;
}

@media only screen and (max-width: 767px) {
    /* INDEX - MAIN PAGE */
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }
   
    .film-content{
        width: 90vw;
    }
}